<div class="container">
  <div class="row align-items-center h-100 mt-5">
    <div class="col-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <img
            src="../../../assets/img/app-logo.png"
            alt="Login"
            class="mx-auto d-block intro-logo"
          />
          <h5 class="card-title text-center">Login</h5>
          <hr />
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                minlength="5"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              />
              <div
                *ngIf="submitted && f.username.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.username.errors.required">
                  Username is required
                </div>
                <div *ngIf="f.username.errors?.minlength">
                  Username must be at least 5 characters long.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                minlength="5"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />

              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
              >
                <div *ngIf="f.password.errors.required">
                  Password is required
                </div>
                <div *ngIf="f.password.errors?.minlength">
                  Password must be at least 5 characters long.
                </div>
              </div>
            </div>
            <div class="d-flex bd-highlight mb-3">
              <div class="mr-auto p-2 bd-highlight">
                <button [disabled]="loading" class="btn btn-primary btn-round">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"
                  ></span>
                  Login
                </button>
              </div>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
              {{ error }}
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="fa fa-lock"></i>Secure Console Angular 9+
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
