<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="#/privacy">
            Privacy Policy
          </a>
        </li>
        <li>
          <a href="#/about">
            About Us
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{ test | date: 'yyyy' }}, made with
      <i class="fa fa-heart heart"></i> by <a href="#">Nhilesh Baua</a>
    </div>
  </div>
</footer>
